

#map {
    height: 100%;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    margin-left: 10px; 
    border: solid 10px #aabf94;
   }
   body{
       background-image: url("../images/back1.jpg");
       background-size: cover;
   }
   iframe{
       background-color: white;
       margin-top: 50px;
        border: solid 10px #aabf94;
   }
   .card-header{
       background-color: #aabf94;
   }
   #imgMain{
       border: solid 15px #aabf94;
   }
   #guestlist{
       margin-top: 30px;
       width: 100%;
   }
   .btn{
       margin-left: 5px;
       background-color: #e8ad9a;
       margin-bottom: 15px;
   }
   #demo{
       font-size: 60px;
       text-align: center;
       font-weight: 800;
       line-height: 1;
       text-shadow: 2px 2px #c48370;
   }
   .card{
       margin-bottom: 15px;
       width: 100%;
        border: solid 10px #afbb95;
        height: 100%;
   }
   .count{
      background: url("../images/flowers.jpeg"); 
       width: 100%;
        border: solid 10px #afbb95;
        height: 100%;
        margin-bottom: 15px;
   }
   .card-body{
       color: #e8ad9a;
       width: 100%;
   }
   h3{
      text-shadow: 2px 2px #c48370; 
   }
  .container{
       width: 100%;
   }
 
